html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.header {
    min-height: 25%;
    font-size: 90px;
    vertical-align: middle;
    text-align: center;
    background: deepskyblue;
    color: black;
}

.kachel {
    background: lightslategray;
    border-radius: 0;
    font-size: 85px;
    color: white;
    margin-top: 20px;
    height: 20%;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.antworten_container {
    height: 60%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.antwort_inner {
    height: 50%;
    width: 49%;
    float: left;
}

@media (max-width: 1000px) {
    .antwort_inner {
        width: 48%;
    }
    .antwort_inner:nth-child(1){
        padding-right: 38px !important;
    }

    .antwort_inner:nth-child(3){
        padding-right: 38px !important;
    }
}

.antwort_inner:nth-child(1) {
    padding-right: 25px;
    padding-bottom: 25px;
}

.antwort_inner:nth-child(3) {
    padding-right: 25px;
}

.antwort {
    width: 100%;
    height: 100%;
    font-size: 50px;
    float: left;
    color: white;
    text-align: center;
    background: lightslategrey;
}

.button_kachel {
    height: 10%;
    margin: 10px 12px 0 0;
    font-size: 50px;
    color: white;
    background: lightslategray;
}

.button_back {
    color: white;
    margin-top: 20px;
    height: 10%;
    font-size: 50px;
    background: lightslategray;
}

.button_back a {
    color: white;
}