.header{
    margin-top: 30px;
    padding-top: 50px;
    height: 100px;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    background: deepskyblue;
    color: black;
}
.kachel{
    background: lightslategray;
    border-radius: 0;
    font-size: 35px;
    color: white;
    margin-top: 20px;
    height: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.antworten_container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.antwort {
    font-size: 20px;
    float: left;
    width: 40%;
    height: 100px;
    margin: 10px 0 10px 20px;
    color: white;
    text-align: center;
    background: lightslategrey;
}