<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../libs/angular/angular.js"></script>
    <script type="text/javascript" src="../js/fragenCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="../libs/cookie/cookieconsent.min.css"/>
    <script src="../libs/cookie/cookieconsent.min.js"></script>
    <meta charset="UTF-8">
</head>
<body ng-app="mainApp" ng-controller="fragenCtrl">
<div ng-if="!fragenModus && !showUebersicht" class="wrapper">
    <div class="header">
        Mittelkurs
    </div>
    <a ng-click="setFach('mittelkurs', 'haematologie')">
        <div class="col-md-12 kachel">
            Hämatologie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'klinische')">
        <div class="col-md-12 kachel">
            Klinische Chemie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'histologie')">
        <div class="col-md-12 kachel">
            Histologie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'mikrobio')">
        <div class="col-md-12 kachel">
            Mikrobiologie
        </div>
    </a>
    <button class="btn btn-success button_back">
        <a href="/" class="backbutton">Zurück</a>
    </button>
</div>
<div ng-if="fragenModus && !showUebersicht" class="wrapper">
    <div class="header">
        {{fragenText ? fragenText : "Leider sind hier noch keine Fragen verfügbar"}}
    </div>
    <div class="antworten_container" ng-if="antwortenFuerFrage && antwortenFuerFrage.length > 0">
        <div ng-repeat="antwort in antwortenFuerFrage" class="antwort_inner">
            <div class="antwort" id="{{antwortenFuerFrage.indexOf(antwort)}}"
                 ng-click="checkAntwort(antwort, antwortenFuerFrage.indexOf(antwort))">{{antwort.antwortText}}
            </div>
        </div>
    </div>
    <button class="btn btn-success button_kachel" ng-click="toggleFragenModus()">Abbrechen</button>
    <button ng-if="showWeiter" class="btn btn-success button_kachel" ng-click="nextFrage()">Weiter</button>
</div>
<div ng-if="!fragenModus && showUebersicht" class="wrapper">
    <div class="col-md-12 kachel">
        Richtig beantwortet: {{richtigBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Falsch beantwortet: {{falschBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Fragen gesamt: {{falschBeantwortet + richtigBeantwortet}}
    </div>
    <button class="btn btn-success button_back" ng-click="showHome()">Fertig</button>
</div>
</body>
<script>
    window.addEventListener("load", function () {
        console.log("test");
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#3c3c3c",
                    "text": "white"
                },
                "button": {
                    "background": "#dd4124",
                    "text": "white"
                }
            },
            "theme": "classic",
            "position": "top",
            "content": {
                "message": "Diese Website verwendet Cookies, um Ihnen die bestmögliche Funktionalität bieten zu können.",
                "dismiss": "Ok, verstanden",
                "link": "Mehr Infos",
                "href": "/html/datenschutz.html"
            }
        })
    });
</script>
<div style="position: absolute; bottom: 0; left: 0; right: 0;"><a href="/html/datenschutz.html">Datenschutz</a></div>
</html>