<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="../frontend/src/js/fragenCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <meta charset="UTF-8">
</head>
<body ng-app="mainApp" ng-controller="fragenCtrl">
<div ng-if="!fragenModus && !showUebersicht">
    <div class="header">
        Mittelkurs
    </div>
    <a href="/" class="backbutton">Zurück</a>
    <a ng-click="setFach('mittelkurs', 'haematologie')">
        <div class="col-md-12 kachel">
            Hämatologie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'klinische')">
        <div class="col-md-12 kachel">
            Klinische Chemie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'histologie')">
        <div class="col-md-12 kachel">
            Histologie
        </div>
    </a>
    <a ng-click="setFach('mittelkurs', 'mikrobio')">
        <div class="col-md-12 kachel">
            Mikrobiologie
        </div>
    </a>
</div>
<div ng-if="fragenModus && !showUebersicht">
    <div class="header">
        {{fragenText}}
    </div>
    <a ng-click="toggleFragenModus()" class="backbutton">Abbrechen</a>
    <div class="antworten_container">
        <div ng-repeat="antwort in antwortenFuerFrage">
            <div class="antwort" id="{{antwortenFuerFrage.indexOf(antwort)}}"
                 ng-click="checkAntwort(antwort, antwortenFuerFrage.indexOf(antwort))">{{antwort.antwortText}}
            </div>
        </div>
    </div>
    <button ng-if="showWeiter" class="kachel" ng-click="nextFrage()">Weiter</button>
</div>
<div ng-if="!fragenModus && showUebersicht">
    <div class="col-md-12 kachel">
        Richtig beantwortet: {{richtigBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Falsch beantwortet: {{falschBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Fragen gesammt: {{falschBeantwortet + richtigBeantwortet}}
    </div>
    <button class="kachel" ng-click="showHome()">Fertig</button>
</div>

</body>
</html>