<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <meta charset="UTF-8">
</head>
<body ng-app="mainApp" ng-controller="fragenCtrl">
<div ng-if="!fragenModus && !showUebersicht" style="height:100%">
    <div class="header">
        Oberkurs
    </div>

    <a ng-click="setFach('oberkurs', 'haematologie')">
        <div class="col-md-12 kachel">
            Hämatologie
        </div>
    </a>
    <a ng-click="setFach('oberkurs', 'klinische')">
        <div class="col-md-12 kachel">
            Klinische Chemie
        </div>
    </a>
    <a ng-click="setFach('oberkurs', 'histologie')">
        <div class="col-md-12 kachel">
            Histologie
        </div>
    </a>
    <a ng-click="setFach('oberkurs', 'mikrobio')">
        <div class="col-md-12 kachel">
            Mikrobiologie
        </div>
    </a>
    <button class="btn btn-success button_back">
        <a href="/" class="backbutton">Zurück</a>
    </button>
</div>
<div ng-if="fragenModus && !showUebersicht" style="height:100%">
    <div class="header">
        {{fragenText ? fragenText : "Leider sind hier noch keine Fragen verfügbar"}}
    </div>
    <div class="antworten_container" ng-if="antwortenFuerFrage">
        <div ng-repeat="antwort in antwortenFuerFrage" class="antwort_inner">
            <div class="antwort" id="{{antwortenFuerFrage.indexOf(antwort)}}"
                 ng-click="checkAntwort(antwort, antwortenFuerFrage.indexOf(antwort))">{{antwort.antwortText}}
            </div>
        </div>
    </div>
    <button class="btn btn-success button_kachel" ng-click="toggleFragenModus()">Abbrechen</button>
    <button ng-if="showWeiter" class="btn btn-success button_kachel" ng-click="nextFrage()">Weiter</button>
</div>
<div ng-if="!fragenModus && showUebersicht" style="height:100%">
    <div class="col-md-12 kachel">
        Richtig beantwortet: {{richtigBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Falsch beantwortet: {{falschBeantwortet}}
    </div>
    <div class="col-md-12 kachel">
        Fragen gesammt: {{falschBeantwortet + richtigBeantwortet}}
    </div>
    <button class="btn btn-success button_back" ng-click="showHome()">Fertig</button>
</div>
<script type="text/javascript" src="../js/fragenCtrl.js"></script>
</body>
</html>